.title{
  font-size: 25px;
  color: rgb(42, 95, 165);
  display: flex;
  justify-content: center;
  margin: 30px;
}

.search-list{
  font-size: 20px;
  margin-left: 40px;
}

.price{
  font-size: 20px;
  margin-left: 40px;
}

.search-btn-contents {
  width: 100%;
  text-align: center;
}
.search-btn{
  padding: 15px;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  width: 30%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}
input{
  border: none;
  background-color: white;
}

li{
  margin-bottom: 10px;
}

.back{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}